
// Fonts
$sans-font: 'Roboto', sans-serif;
$logo-font: 'Just Me Again Down Here', serif;
$mono-font: 'Cutive Mono', monospace;
$head-font: 'Fredoka One', sans-serif;

// Colors
$text-color: #222;
$paper-color: #ddd;
$shadow-color: #fff;
$accent-color: #069;

// Header/wrapper sizes
$head-logo-size: 45px;
$head-glyph-size: 30px;
$uno-mas-size: 22px;
$uno-mas-radius: 30px;

// Index sizes
$index-name-size: 26px;
$index-name-width: 170px;
$index-tags-size: 20px;
$shadow-size: 15px;

// Post sizes
$post-glyph-size: 20px;
$post-title-size: 30px;
$post-date-size: 20px;
$text-size: 16px;
$caption-size: 12px;

// Big-picture layout
$paper-width: 900px;
$text-width: 550px;
$tile-pad: 16px;
// For mobile, make sure there is some breathing room between the edge
// of the text field and the edge of the window.
$side-pad: 12px;
// Padding between the glyphs and the edge of the headbar.
$head-pad: 10px;
$paragraph-gap: 14px;
// Margin between header elements (band-aid).
$title-pad: 20px;
// Margin between footnotes. Also used for images, code blocks, etc.
$footnote-border: 10px;
$tile-radius: 0;
$tag-pad: 10px;

// Reserve some space at the bottom for the copyright.
$copy-height: 74px;

$head-height: $head-glyph-size + 2*$head-pad;

html, body {
    background-color: $shadow-color;
    font-family: $sans-font;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
}

div.warn {
    font-size: $text-size;
    line-height: 1;
    background-color: pink;
//    display: block;
    display: none;
    padding: $tile-pad;
    margin: $tile-pad 0;
    text-align: center;
}

img {
    // Images always fill the width of their containers. To change the
    // width of an image, contain it.
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 100%;
    display: block;
}

p, span, div, table { color: $text-color; }

.nowrap { white-space: nowrap; }

a, a:focus, a:visited, a:hover { text-decoration: none; }

// Not sure exactly what this does, but it's important.
*, *:before, *:after { box-sizing: border-box; }

.hide-by-default { display: none; }
