
$sans-font: 'Roboto', sans-serif;
$logo-font: 'Cambo', serif;
$mono-font: 'Cutive Mono', monospace;

$bold-color-1: #07a;
$bold-color-2: #059;
$bold-color-3: #038;

$paper-color: #fff;
$shadow-color: #bcf;
$text-color: #000;




$half-thumb-gap: 5px;

$head-height: 40px;
// Head width is a little bit arbitrary. It'll get stretched to fit.
$head-width: 100px;

$logo-size: 35px;

$sort-size: 25px;

$share-size: 25px;

$arrow-size: 25px;
$name-size: 20px;
$date-size: 16px;

// button, textarea, a:focus { outline: none; }

// p { margin: 0; padding: 0; border: 0; }

body {
    background-color: $shadow-color;
    font-family: $sans-font;
    border: 0;
    padding: 0;
    padding-bottom:25px;
}

a, a:focus, a:visited, a:hover { text-decoration: none; }

div.copy {
    color: #fff;
    display: block;
    text-align: center;
    margin: $half-thumb-gap;
}
