$base-font: 'Roboto', sans-serif;
$code-font: 'Cutive Mono', monospace;
$head-font: 'Fredoka One', cursive;
$logo-font: $head-font;

$text-color: #222;
$paper-color: #ddd;
$shadow-color: #fff;
$accent-color: #069;

// Font sizes
$fs-logo: 30px;
$fs-glyph: 27px;
$fs-index: 26px;
$fs-title: 30px;
$fs-subtitle: 18px;
$fs-body: 16px;
$fs-caption: 12px;

// Header/wrapper sizes
$head-tag-pad: 10px;
$head-pad: 10px;
$copy-height: 74px;
$head-height: $fs-glyph + 2*$head-pad;

// Index sizes
$index-name-width: 170px;
$index-tags-size: 20px;
$shadow-size: 15px;
$tile-radius: 10px;

// Post sizes
$title-pad: 30px;
$cell-pad: 5px;
$hr-height: 3px;

// Big-picture layout
$paper-width: 900px;
$text-width: 550px;
$caption-width: $text-width;
$tile-pad: 16px;
$side-pad: 12px;

$caption-pad: 6px;
$caption-line-height: 1.3;
$base-line-height: 1.6;

// A bit of extra normalization.
html, body {
    background-color: $shadow-color;
    font-family: $base-font;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

p, span, div, table {
    color: $text-color;
}

a, a:focus, a:visited, a:hover {
    text-decoration: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.nowrap {
    white-space: nowrap;
}

.hide-by-default {
    display: none;
}
