
#logo {
    font-family: $logo-font;
    color: $shadow-color;
    &:hover { color: $text-color; }
}

.head-glyph {
    font-size: $head-glyph-size;
    color: $shadow-color;
    &:hover { color: $text-color; }
}

// =====================================================================

div.left-flank-main { background-color: $shadow-color; }

div.right-flank-main { background-color: $shadow-color; }

div.full-main { background-color: $shadow-color; }

div.main { background: $paper-color; }

div.full-head {
    background-color: $accent-color;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 $shadow-size;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 $shadow-size;
    box-shadow: rgba(0,0,0,0.8) 0 0 $shadow-size;
}

div.head {
    a, a:visited { color: $text-color; }
    a:hover { color: $paper-color; }
}

// =====================================================================

.copy {
    color: $text-color;
    a { color: $accent-color; &:hover { color: $text-color; } }
}

// =====================================================================

.post-title { font-family: $head-font; }

.post-tag {
    color: $accent-color;
    &:hover { color: $text-color; }
}

.post-date { font-family: $head-font; }
