
div.full-head { position: fixed; top: 0px; background-color: #f00; }

div.full-main { background-color: #0f0; height: 100%; }

div.full-foot { position: fixed; bottom: 0px; background-color: #00f; }

div.full-head, div.full-main, div.full-foot {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
}

span.logo { font-size: $logo-size; }

span.head-glyph { font-size: $head-glyph-size; }

span.foot-glyph { font-size: $foot-glyph-size; }

div.head { height: $head-height; }

div.foot { height: $foot-height; }

div.head, div.foot {

    span.logo, span.head-glyph, span.foot-glyph { margin: $pad; background-color: #ff0; }

    background-image: radial-gradient($bold-color-1, $bold-color-3);
    background-size: 4px 4px;

    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    padding: $pad;
    display: flex;
    justify-content: space-between;
    line-height: 0;
    a, a:visited { color: $text-color; }
    a:hover { color: $paper-color; }
}

div.main {
    padding-top: $head-height + $pad;
    padding-bottom: $foot-height + $pad;
    padding-left: $pad;
    padding-right: $pad;
    width: 100%;
    max-width: $content-width;
    background-color: $paper-color;
    margin: 0 auto;
    text-align: justify;
    header, article, footer { border: 0; margin: 0; padding: $pad; }
}

a.logo {
    // The L in the title is flipped from the other letters.
    .title-accent { color: $paper-color; }
    &:hover {
        .title-accent { color: $text-color; }
    }
    letter-spacing: -3px;
    font-family: $logo-font;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
}
