
div.full-head {
    position: fixed;
    top: 0px;
    background-image: radial-gradient($bold-color-1, $bold-color-3);
    background-size: 4px 4px;
}

div.full-main {
    height: 100%;
    background-color: $shadow-color;
}

div.full-foot {
    position: fixed;
    bottom: 0px;
    background-image: radial-gradient($bold-color-1, $bold-color-3);
    background-size: 4px 4px;
}

div.full-head, div.full-main, div.full-foot {
//    background-color: $shadow-color;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
}

span.foot-glyph { font-size: $foot-glyph-size; }

.fa-stack { vertical-align: middle; }

div.head {
    height: $head-height;
    .fa-stack { font-size: $head-glyph-size; }
}

div.foot {
    height: $foot-height;
    table, tr { width: 100% }
    table, tr, td { border: 0; margin: 0; padding: 0; text-align: center; height: 100%; }
    .fa-stack { font-size: $foot-glyph-size; }
}

div.head, div.foot {
    a { margin: $pad; }

//    background-image: radial-gradient($bold-color-1, $bold-color-3);
//    background-size: 4px 4px;

    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 2*$pad;
    display: flex;
    justify-content: space-between;
    line-height: 0;
    a, a:visited { color: $text-color; }
    a:hover { color: $paper-color; }
    .fa-stack {
        .fa-stack-2x { color: $paper-color; }
        .fa-stack-1x { color: $text-color; }
        &:hover {
            .fa-stack-2x { color: $text-color; }
            .fa-stack-1x { color: $paper-color; }
        }
    }
}

div.main {
    padding-top: $head-height + 2*$pad;
    padding-bottom: $foot-height + 2*$pad;
    padding-left: 2*$pad;
    padding-right: 2*$pad;
    width: 100%;
    max-width: $content-width;
    background-color: $paper-color;
    margin: 0 auto;
    text-align: justify;
    header, article, footer { border: 0; margin: 0; padding: $pad; }
    min-height: 100%;
}

#logo {
    font-size: $logo-size;

    // The L in the title is flipped from the other letters.
    .title-accent { color: $paper-color; }
    &:hover {
        .title-accent { color: $text-color; }
    }
    letter-spacing: -3px;
    font-family: $logo-font;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
}
