

.uno-mas-layer, .uno-mas-wrap { pointer-events: none; }

.uno-mas-layer {

    display: none;

    top: 0;
    position: fixed;
    background: none;
//    background-color: rgba(red, 0.2);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.uno-mas-wrap {
    height: 100%;
    width: 100%;
    max-width: $content-width;
    background: none;
//    background-color: rgba(blue, 0.2);
    padding-top: 100px;
    border: 0;
    margin: 0 auto;
    display: block;
    position: relative;

//    vertical-align: bottom;
    text-align: center;

}

.uno-mas {
    position: absolute;

    right: 0;
    bottom: $pad;

    display: flex;
    justify-content: center;
    align-items: center;
    color: $paper-color;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    overflow: hidden;
    font-size: 25px;
    line-height: 1;
    background: radial-gradient($bold-color-1, $bold-color-3);
    background-size: 3px 3px;
    box-shadow: 0 0 $half-pad rgba(0, 0, 0, 0.2);
    pointer-events: auto;
    &:hover { color: $text-color; }
}



.glyph-wrapper, .glyph-nowrapper {
    width: $head-glyph-wrap-size;
    height: $head-glyph-wrap-size;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin: 0;
    padding: 0;
}

.glyph-nowrapper {
    font-size: $head-glyph-wrap-size;
    background: none;
    color: $paper-color;
    &:hover { color: $text-color; }
}

.glyph-wrapper {
    font-size: $head-glyph-size;
    border-radius: 0.5*$head-glyph-wrap-size;
    overflow: hidden;
    background-color: $paper-color;
    color: $text-color;
    // Flip the colors on hover.
    &:hover {
        color: $paper-color;
        background-color: $text-color;
    }
}

// A full-width box is used to anchor the header at the top.

div.full-head {
    z-index: 99;
    top: 0px;
    box-shadow: 0 $half-pad $pad rgba(0, 0, 0, 0.2);
    position: fixed;
    background: radial-gradient($bold-color-1, $bold-color-3);
    background-size: 3px 3px;
}

div.full-main {
    height: 100%;
    background-color: $shadow-color;
}

div.full-head, div.full-main {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    display: block;
}

// The header and footer have fixed heights. The objects within them are
// spaced uniformly in the horizontal direction.

div.head {
    height: $head-height;
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    padding: $half-pad $side-pad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a, a:visited { color: $text-color; }
    a:hover { color: $paper-color; }
}

div.wrap-head {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    justify-content: space-between;
    align-items: center;
}

// The logo! Flip the colors on hover.

#logo {
    font-size: $logo-size;
    .title-base { color: $text-color; }
    .title-accent { color: $paper-color; }
    &:hover {
        .title-base { color: $paper-color; }
        .title-accent { color: $text-color; }
    }
    letter-spacing: -3px;
    font-family: $logo-font;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
    // Shift the baseline up just a little bit.
    margin-top: -0.05*$logo-size;
}

// Formatting for the filter input box.

#index-filter {
    border: 0;
    margin-right: $pad;
    height: $head-glyph-wrap-size;
    border-radius: 0.5*$head-glyph-wrap-size;
    overflow: hidden;
//    margin: $half-pad;
    padding: 0 10px;
    width: 100%;
    font-size: $caption-size;
}

// A table-style box is wrapped around the contents. This allows us to
// flank the contents with a pair of sidebars. The content width is
// fixed (though it'll squish if necessary, since it acts like a table
// cell) and the sidebars expand to fill any remaining space.

div.wrap-main {
    display: table;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

div.main, div.left-flank-main, div.right-flank-main {
    display: table-cell;
    min-height: 100%;
    position: relative;
    // Leave room for the copyright
    padding-bottom: 50px;

}

div.main {
    background: $paper-color;
    width: $content-width;
    padding-top: $head-height + $pad;
//    padding-bottom: $foot-height + $pad;
    padding-left: $side-pad;
    padding-right: $side-pad;
    text-align: justify;
    header, article, footer {
        border: 0; margin: 0; padding: 0;
    }
}

div.left-flank-main {

    background-color: $shadow-color;

/*
    // In case of no gradient support
    background: $shadow-color;
    // For Safari 5.1 to 6.0
    background: -webkit-linear-gradient(left, $shadow-color, $paper-color);
    // For Opera 11.1 to 12.0
    background: -o-linear-gradient(right, $shadow-color, $paper-color);
    // For Firefox 3.6 to 15
    background: -moz-linear-gradient(right, $shadow-color, $paper-color);
    // Standard syntax
    background: linear-gradient(to right, $shadow-color, $paper-color);
*/
}

div.right-flank-main {

    background-color: $shadow-color;

/*
    // In case of no gradient support
    background: $shadow-color;
    // For Safari 5.1 to 6.0
    background: -webkit-linear-gradient(right, $shadow-color, $paper-color);
    // For Opera 11.1 to 12.0
    background: -o-linear-gradient(left, $shadow-color, $paper-color);
    // For Firefox 3.6 to 15
    background: -moz-linear-gradient(left, $shadow-color, $paper-color);
    // Standard syntax
    background: linear-gradient(to left, $shadow-color, $paper-color);
*/
}
