


div.content {
    padding-top: $head-height;
    width: 100%;
}

.index { text-align: center; margin: 0; padding: 0; }

#index-list {
    margin: 0 auto;
    padding: $half-thumb-gap 2%;
    max-width: 1200px;
    background-color: $paper-color;
}

.index-item {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0;
    background: none;
    // Thumbnails take up 96% of the width. That can be divided between
    // 1, 2, 3, or 4 thumbnails, depending on the width of the viewer.
    width: 96%;
    @media (min-width: 300px) { width: 48%; }
    @media (min-width: 600px) { width: 32%; }
    @media (min-width: 900px) { width: 24%; }
    padding: $half-thumb-gap;
}

.index-link {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    padding: $half-thumb-gap;
}

.index-cell {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    // Dull the image tiles to make the text legible. On hover, sharpen the
    // images, and shove the text to where it's invisible.
    background-color: rgba($text-color, 0.7);
    &:hover {
        background: none;
        .index-name { top: 1000%; }
        .index-date { top: 1000%; }
    }
}

.index-name { top: 45%; color: $paper-color; font-size: $name-size; width: 100%; }

.index-date { top: 90%; color: $bold-color-2; font-size: $date-size; white-space: nowrap; }

.index-date, .index-name {
    line-height: 1;
    display: inline-block;
    font-weight: bold;
    text-transform: lowercase;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index-thumb { height: 100%; width: 100%; object-fit: cover; }
