
div.content {
    padding-top: $head-height;
    width: 100%;
}

.index { text-align: center; margin: 0; padding: 0; }

#index-list {
    margin: 0;
    padding: 5px 2%;
    width: 100%;
}

.index-item {
    display: inline-block;
    text-align: center;
    position: relative;
//    margin: 4px 0.5%;
    margin: 0;
    background: none;
//    border-radius: 5px;
//    overflow: hidden;
    // Thumbnails take up 96% of the width. That can be divided between
    // 1, 2, 3, or 4 thumbnails, depending on the width of the viewer.
    width: 96%;
    @media (min-width: 300px) { width: 48%; }
    @media (min-width: 600px) { width: 32%; }
    @media (min-width: 900px) { width: 24%; }

//    padding: 10px;
    //    box-shadow: 0 0 1px 1px #ccc;
}

.index-link {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.index-cell {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    margin: 10px;
    padding: 0;
    // Dull the image tiles to make the text legible. On hover, sharpen the
    // images, and shove the text to where it's invisible.
    background-color: rgba($tile-back-color, 0.7);
    &:hover {
        background: none;
        .index-name { top: 1000%; }
        .index-date { top: 1000%; }
    }
}

.index-name { top: 45%; color: $tile-text-color; font-size: $name-size; }

.index-date { top: 90%; color: $tile-text-accent; font-size: $date-size; white-space: nowrap; }

.index-date, .index-name {
    line-height: 1;
    display: inline-block;
    font-weight: bold;
    text-transform: lowercase;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index-thumb {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
