
.navbar {
    background-color: $accent-color;
    width: $navbar-size;
    position: fixed;
    height: 100%;
    font-family: $head-font;

    a {
        color: $shadow-color;
        &:hover { color: $text-color; }
    }

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .navbar-top, .navbar-bot {
        width: 100%;
        max-width: $navbar-size;
        padding: 0.5rem 1.5rem;
        max-height: 50%;
    }

    .navbar-top { position: relative; }

    .navbar-bot {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    .navbar-thumb {
        display: block;
        img {
            border-radius: 50%;
            overflow: hidden;
        }
        position: relative;
    }

    .navbar-title {
        text-transform: none;
        font-family: $logo-font;
        color: $text-color;
        font-size: 1.9rem;
        position: absolute;
        top: 0;
        margin-top: -0.5rem;
    }

    .navbar-link { font-size: 1.5rem; }

    .media-glyphs { font-size: 2.5rem; }

}

.main {
    margin-left: $navbar-size;
    margin-right: auto;
    max-width: $content-width;
    padding: 1rem 2rem;
    height: 100%;
    min-height: 100%;
}

@media (max-width: 50rem) {
  .navbar {
    width: 100%;
    height: auto;
    flex-direction: row;
    position: relative;
    .navbar-top, .navbar-bot {
        max-height: none;
        max-width: 50%;
    }
  }
  .main { margin-left: 0; }
}
