
.navbar {
    background-color: $accent-color;
    width: $navbar-width;
    position: fixed;
    height: 100%;
}

.main {
    margin-left: $navbar-width;
    padding: 20px;
    min-height: 100%;
}

@media (max-width: 50rem) {
  .navbar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  .main {margin-left: 0;}
}
