header {

    .post-title {
        margin-top: 0;
    }

    .post-links {
        display: flex;
        justify-content: space-between;
    }

    .post-date, .post-tags {
        display: inline-block;
        font-size: $font-size-caption;
        margin: 0;
        margin-bottom: -0.5rem;
    }

    .post-date {
        color: $text-color;
    }

    .post-tag {
        display: inline-block;
        line-height: 1;
        padding: 0.1rem;
        border-radius: $figure-border-radius;
        color: $accent-color;
        border: 1px solid $accent-color;
        &:hover {
            cursor: pointer;
            color: $text-color;
            border: 1px solid $text-color;
            background-color: $shadow-color;
        }
    }
}

article {

    a {
        color: $accent-color;
        &:hover {
            color: $text-color;
        }
    }

    // Consistent highlighting for blockquotes, code blocks, inline code
    blockquote, div.highlight, pre, pre.highlight, code, img {
        background-color: $shadow-color;
    }
    blockquote {
        border: 0;
        font-size: $font-size-caption;
    }

    // Not a fan of the default table style
    table, img {
        font-size: $font-size-caption;
        line-height: $line-height-caption;
        margin-bottom: 0px;
        border-radius: $figure-border-radius;
        overflow: hidden;
        th, td {
            border: 0;
        }
        tbody tr:nth-child(odd) td, tbody tr:nth-child(even) td, thead tr th {
            background-color: $shadow-color;
        }
        tbody tr {
            border-top: 0.1px solid $paper-color
        }
    }
    // Caption following an image or table
    .figure-caption {
        margin: 0.4rem auto;
        font-size: $font-size-caption;
        line-height: $line-height-caption;
        display: block;
    }

    // Prevent margin weirdness after a figure with no caption. Kludgey. Note
    // that this is needed only after tables, not images, since the img and
    // caption are within the same <p>
    .figure-nocaption {
        // Match p margin-bottom
        margin-top: 1rem;
    }

    hr {
        color: $shadow-color;
        border-color: $shadow-color;
        background-color: $shadow-color;
        height: 0.1rem;
    }

    div.footnotes li {
        font-size: $font-size-caption;
        line-height: $line-height-caption;
    }

}

// Autocard handling

.autocard-wrap {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 98;
    display: none;
}

.autocard {
    z-index: 99;
    width: 500px;
    max-width: 50%;
    position: relative;
    border-radius: 5%;
    overflow: hidden;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
}
