
.post-date { border: 0; padding: 0; margin-top: 0px; }

header {

    .post-date {
        display: block;
        text-align: center;
        letter-spacing: 3px;
    }
    .post-name {
        font-size: 24px;
        font-weight: bold;
    }
}

article {
    font-size: $text-size;
    display: block;
    margin: $pad;
    table {
        margin-left: auto; margin-right:auto;
        background-color: $shadow-color;
    }
    th, td { padding: $pad; }
    blockquote {
        background-color: $shadow-color; margin: 0; border: 0; padding: $pad;
        p { margin: 0; padding: 0; border: 0; }
    }
    img + em {
        font-size: 10px;
        font-style: normal;
        background-color: $shadow-color;
        display: block; padding: 3px $pad;
    }
}

// What if horizontal rules, instead of being lines, were dots?
hr {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    color: $text-color;
    background-color: $text-color;
}
