
// NOTE: This file is a bit of a mess. But it's also pretty cosmetic.
// You could nuke this file and the site would pretty much still work.

header {
    width: 100%;
    text-align: center;
}

.post-title, .post-tags, .post-date {
    line-height: 1;
    text-align: center;
    border: 0;
    margin: 0;
}

.post-tags, .post-date {
    height: $post-date-size;
}

.post-title {
    margin-top: $title-pad;
    margin-bottom: $paragraph-gap;
    font-size: $post-title-size;
    display: block;
}

.post-tags { font-size: $post-glyph-size; }

.post-date { font-size: $post-date-size; }

.post-under-title {
    width: 100%;
    max-width: $text-width;
    display: flex;
    justify-content: space-between;
    margin: $paragraph-gap auto;
}

.post-date, .post-tags { display: inline-block; }

.post-tag { margin: 0 $tag-pad; &:hover { cursor: pointer; } }

article {

    line-height: 1.5;
    display: block;
    margin: 0 auto;
    padding: 0;

    table, tbody, tr, caption { width: 100%; }

    table {
        margin: $text-size auto;
        margin-bottom: $footnote-border;
        thead { border-bottom: $footnote-border solid $paper-color; }
        padding: $footnote-border;
    }

    caption {
        width: 100%;
        text-align: left;
        padding: $footnote-border;
        border-bottom: $footnote-border solid $paper-color;
    }

    .table-caption {
        width: 100%;
        max-width: 100%;
        margin: 0;
        text-align: justify;
        display: block;
        padding: $footnote-border;
    }

    th, td { padding: $footnote-border; }

    ul, p, h1, h2, h3, h4, h5, h6, pre, blockquote {
        margin: $paragraph-gap auto;
        max-width: $text-width;
    }

    pre, blockquote {
        border: 0;
        padding: $footnote-border;
        margin: 0 auto;
        p { width: 100%; max-width: 100%; margin: $footnote-border 0; padding: 0; border: 0; }
        p:first-child { margin-top: 0; }
        p:last-child { margin-bottom: 0; }
    }

    h2 { margin-top: 2*$text-size; }

    li { margin: 0.5*$text-size 0; }

    .cardlist, .cardlist-with-sideboard {
        width: 100%;
        td { height: 100%; vertical-align: top; }
        .deckname { font-weight: bold; }
        margin: 0 auto;
        border: 0;
        padding: $footnote-border;
        p { width: 100%; max-width: 100%; margin: 0; padding: 0; border: 0; }
    }

    .cardlist { td { width: 33.3%; } }
    .cardlist-with-sideboard { td { width: 25%; } }

    img { width: 100%; padding: $footnote-border; }

    // If an image is followed immediately by italics, that's a caption.
    img + em {
        width: 100%;
        text-align: justify;
        display: block;
        padding: 0 $footnote-border $footnote-border $footnote-border;
    }

    // Ordered lists show as tiles, like on the index.
    ol {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        margin: $tile-pad/ -$tile-pad/2;
        border: 0;
        padding: 0;
        text-align: center;
        li {
            float: left;
            clear: none;
            display: inline-block;
            border: $tile-pad/2 solid $paper-color;
            margin: 0;
            width: 100%;
            @media (min-width: 300px) { width: 50%; }
            @media (min-width: 600px) { width: 33.33%; }
            font-size: $caption-size;
            // Padding is handled by the tiles, not images and captions.
            padding: $footnote-border;
            img { padding: 0; }
            img + em { padding: $footnote-border 0 0 0; }
        }
    }

    div.footnotes {
        ol {
            // Adding counters to the footnots, per: http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/
            counter-reset: li;
            display: block;
            width: 100%;
            margin: 0;
            padding: $paragraph-gap 0;
            li {
                text-align: justify;
                list-style:none;
                margin: $paragraph-gap 0;
                width: 100%;
                border: 0;
                padding: $footnote-border;
                p { width: 100%; max-width: 100%; margin: 0; }
            }
            li > p:before {
                content:counter(li);
                counter-increment:li;
                margin-right: $footnote-border;
                font-weight:bold;
                text-align:center;
            }
        }
    }
}

// ---------------------------------------------------------------------

$switch-width: 40px - $footnote-border;
$switch-height: $caption-size;
$slider-size: $caption-size - 4px;
$slider-offset: ($switch-height - $slider-size)/2;
$slider-move: $switch-width - $slider-size - 2*$slider-offset;

#unit-toggle {
    margin: $footnote-border auto;
    width: 100%;
    max-width: $text-width;
    font-size: $caption-size;
    height: $switch-height;
    line-height: 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: $switch-width;
    height: $switch-height;
    margin-right: $footnote-border;
}

.switch input { opacity: 0; width: 0; height: 0; }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: $accent-color;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: $slider-size;
    width: $slider-size;
    left: $slider-offset;
    bottom: $slider-offset;
    background-color: $paper-color;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider { background-color: $shadow-color; }

input:checked + .slider:before {
    -webkit-transform: translateX($slider-move);
    -ms-transform: translateX($slider-move);
    transform: translateX($slider-move);
}

.slider.round { border-radius: $switch-height; }

.slider.round:before { border-radius: 50%; }

// By default, show metric units.
.metric { display: inline-block; }
.imperial { display: none; }
