
.uno-mas-layer, .uno-mas-wrap {
    pointer-events: none;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    height: 100%;
    width: 100%;
}

.uno-mas-layer {
    top: 0;
    position: fixed;
}

.uno-mas-wrap {
    max-width: $text-width;
    margin: 0 auto;
    display: block;
    position: relative;
    font-family: $head-font;
    text-align: center;
}

.uno-mas {
    position: absolute;
    right: $pad;
    bottom: $pad;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $shadow-color;
    height: 2*$uno-mas-radius;
    width: 2*$uno-mas-radius;
    overflow: hidden;
    font-size: $uno-mas-size;
    line-height: 1;
    background-color: $accent-color;
    -webkit-border-radius: $uno-mas-radius;
    -moz-border-radius: $uno-mas-radius;
    border-radius: $uno-mas-radius;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 $pad;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 $pad;
    box-shadow: rgba(0,0,0,0.8) 0 0 $pad;
    pointer-events: auto;
    &:hover { color: $text-color; }
}
