---
layout: default
title: Home
---

<ul id="index-list">
    {% for post in site.posts %}
        {% unless post.hidden %}
            <li class="index-item-wrap" id="item-{{ post.title | slugify }}">
                <div class="index-item">
                    <img src="{{ post.image }}" class="index-thumb" />
                    <!-- drawn over the thumbnail to shade it -->
                    <a href="{% if post.redirect %}{{ post.redirect }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" class="index-link">
                        <span class="index-name">{{ post.title }}</span>
                        <span class="index-tags">
                            {% assign sorted = post.tags | sort %}
                            {% for tag in sorted %}
                                <span class="index-tag" ontouchstart="goToTag('{{ tag }}'); return false;" onclick="goToTag('{{ tag }}'); return false;" ontouchend="fixStickyHover(); return false;">#{{ tag }}</span>
                            {% endfor %}
                        </span>
                    </a>
                </div>
            </li>
        {% endunless %}
    {% endfor %}
</ul>
