
{% assign share-url = page.url
    | prepend: site.baseurl
    | prepend: site.url
%}
{% assign share-title = page.title | url_encode %}
{% assign share-excerpt = page.description | url_encode %}

<div class="head-logo">
    <a href="{{ site.url }}" id="logo">charles</a>
</div><div class="head-links">

    <a href="https://www.facebook.com/sharer/sharer.php?u={{ share-url }}" title="Facebook" class="popup">
        <i class="head-glyph fab fa-facebook-square"></i>
    </a>

    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ share-url }}&amp;title={{ share-title }}&amp;summary={{ share-excerpt }}" title="LinkedIn" class="popup">
        <i class="head-glyph fab fa-linkedin"></i>
    </a>

    <a href="http://www.reddit.com/submit?url={{ share-url }}&amp;title={{ share-title }}" title="Reddit" class="popup">
        <i class="head-glyph fab fa-reddit-square"></i>
    </a>

    <a href="https://twitter.com/intent/tweet?text={{ share-title }}&amp;via={{ site.author.twitter }}&amp;url={{ share-url }}" title="Twitter" class="popup">
        <i class="head-glyph fab fa-twitter-square"></i>
    </a>

</div>
