<span class="logo">
    <a href="/" class="logo">
        {% if site.htmlname %}{{ site.htmlname }}{% else %}{{ site.name }}{% endif %}
    </a>
</span>
{% if page.title %}
    {% assign share-url = page.url | prepend: site.baseurl | prepend: site.url %}
    {% assign share-title = page.title | url_encode %}
    {% assign share-excerpt = page.description | url_encode %}
    <span class="head-glyph">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ share-url }}" title="Facebook" class="popup">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
    </span>
    <span class="head-glyph">
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ share-url }}&amp;title={{ share-title }}&amp;summary={{ share-excerpt }}" title="LinkedIn" class="popup" class="popup">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
    </span>
    <span class="head-glyph">
        <a href="https://twitter.com/intent/tweet?text={{ share-title }}&amp;via={{ site.author.twitter }}&amp;url={{ share-url }}" title="Twitter" class="popup">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
    </span>
{% else %}
    <span class="head-glyph">
        <a href="" onclick="sort('alphabetical'); return false;">
            <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
        </a>
    </span>
    <span class="head-glyph">
        <a href="" onclick="sort('latest'); return false;">
            <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
        </a>
    </span>
    <span class="head-glyph">
        <a href="" onclick="sort('shuffle'); return false;">
            <i class="fa fa-random fa-rotate-90" aria-hidden="true"></i>
        </a>
    </span>
{% endif %}
