
{% assign share-url = page.url
    | prepend: site.baseurl
    | prepend: site.url
%}
{% assign share-title = page.title | url_encode %}
{% assign share-excerpt = page.description | url_encode %}

<div class="wrap-head" id="wrap-head-default">
    <a id="logo" href="{{ site.baseurl }}/">
        {{ site.title }}

        {% comment %}
        {% if site.htmltitle %}{{ site.htmltitle }}{% else %}{{ site.title }}{% endif %}
        {% endcomment %}
    </a>
    <a ontouchstart="headActive(); return false;" onclick="headActive();">
        <span class="glyph-nowrapper">
            <i class="fa fa-share-alt"></i>
        </span>
    </a>
</div>
<div class="wrap-head" id="wrap-head-active" style="display: none;">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ share-url }}" title="Facebook" class="popup">
        <span class="glyph-wrapper">
            <i class="fab fa-facebook-f"></i>
        </span>
    </a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ share-url }}&amp;title={{ share-title }}&amp;summary={{ share-excerpt }}" title="LinkedIn" class="popup">
        <span class="glyph-wrapper">
            <i class="fab fa-linkedin-in"></i>
        </span>
    </a>
    <a href="http://pinterest.com/pin/create/button/?url={{ share-url }}&amp;media={{ share-thumb }}&amp;description={{ share-excerpt }}" class="popup">
        <span class="glyph-wrapper">
            <i class="fab fa-pinterest-p"></i>
        </span>
    </a>
    <a href="http://www.reddit.com/submit?url={{ share-url }}&amp;title={{ share-title }}" title="Reddit" class="popup">
        <span class="glyph-wrapper">
            <i class="fab fa-reddit-alien"></i>
        </span>
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ share-title }}&amp;via={{ site.author.twitter }}&amp;url={{ share-url }}" title="Twitter" class="popup">
        <span class="glyph-wrapper">
            <i class="fab fa-twitter"></i>
        </span>
    </a>
    <a onclick="headDefault(); return false;">
        <span class="glyph-nowrapper">
            <i class="fa fa-times"></i>
        </span>
    </a>
</div>
