{% if page.title %}
    {% assign arrow-title = page.title | replace: "'", "\\'"  %}
    <span class="head-glyph">
        <a href="" onclick="previous('{{ arrow-title }}'); return false;">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
    </span>
    <span class="logo">
        <a class="logo" href="{{ site.baseurl }}/">
            {% if site.htmlname %}{{ site.htmlname }}{% else %}{{ site.name }}{% endif %}
        </a>
    </span>
    <span class="head-glyph">
        <a href="" onclick="next('{{ arrow-title }}'); return false;">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </span>
{% else %}
    <span class="head-glyph">
        <a href="" onclick="sort('alphabetical'); return false;">
            <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
        </a>
    </span>
    <span class="logo">
        <a href="/" class="logo">
            {% if site.htmlname %}{{ site.htmlname }}{% else %}{{ site.name }}{% endif %}
        </a>
    </span>
    <span class="head-glyph">
        <a href="" onclick="sort('latest'); return false;">
            <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
        </a>
    </span>
{% endif %}
