

{% assign tags = "" | split: "|" %}
{% for post in site.posts %}
    {% for tag in post.tags %}
        {% assign tags = tags | push: tag %}
    {% endfor %}
{% endfor %}
{% assign tags = tags | sort | uniq %}

<div class="wrap-head" id="wrap-head-default">
    <a href="" id="logo" onclick="return false;">{{ site.title }}</a>

    {% for tag in tags %}
        <a ontouchstart="toggleTag('{{ tag }}'); return false;" onclick="toggleTag('{{ tag }}');">
          <i id="head-tag-{{tag}}" class="head-glyph"></i>
        </a>
    {% endfor %}

</div>
