{% if page.title %}
    {% assign share-url = page.url | prepend: site.url %}
    {% assign share-title = page.title | url_encode %}
    {% assign share-excerpt = page.description | url_encode %}
{% else %}
    {% assign share-url = site.url %}
    {% assign share-title = site.title | url_encode %}
    {% assign share-excerpt = site.description | url_encode %}
{% endif %}

<div class="navbar">

    <div class="navbar-top">
        <div class="navbar-thumb">
            <img src="/assets/images/thumb/charles-hair.png">
            <div class="navbar-title">{{ site.title }}</div>
        </div>
    </div>

    <div class="navbar-bot">
        <div class="navbar-link"><a href="{{ site.url }}">Home</a></div>
        <div class="navbar-link"><a href="/about">About</a></div>
        <div class="navbar-link"><a href="/assets/docs/charles-fyfe.pdf">Résumé</a></div>
        <div class="media-glyphs">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ share-url }}" title="Facebook" class="popup">
                <i class="media-glyph fab fa-facebook-square"></i>
            </a>
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ share-url }}&amp;title={{ share-title }}&amp;summary={{ share-excerpt }}" title="LinkedIn" class="popup">
                <i class="media-glyph fab fa-linkedin"></i>
            </a>
            <a href="http://www.reddit.com/submit?url={{ share-url }}&amp;title={{ share-title }}" title="Reddit" class="popup">
                <i class="media-glyph fab fa-reddit-square"></i>
            </a>
            <a href="https://twitter.com/intent/tweet?text={{ share-title }}&amp;via={{ site.author.twitter }}&amp;url={{ share-url }}" title="Twitter" class="popup">
                <i class="media-glyph fab fa-twitter-square"></i>
            </a>
        </div>
    </div>

</div>
