<div class="navbar">


    <div class="">
        <img class="navbar-thumb" src="/assets/images/thumb/charles-close.png">
    </div>

    <div class="navbar-logo">
        <a href="{{ site.url }}" id="logo">{{ site.title }}</a>
    </div>

    <div class="navbar-links">

        <p><a href="/about">About</a></p>

        <p><a href="/privacy-policy">Privacy Policy</a></p>

        <div class="copy">
            &copy; Charles Fyfe 2022 under <a href="https://creativecommons.org/licenses/by/3.0/us/">CC-BY</a>
        </div>

    </div>

</div>
