---
---

<!DOCTYPE html>

<html>

    {% include head.html %}

    <body>

        <div class="autocard-wrap" id="autocard-wrap" onclick="hideAutocard()">
            <img class="autocard" id="autocard">
        </div>

        {% include navbar.html %}

        <div class="main">
            {{ content }}

            <div class="copy">
                &copy; Charles Fyfe 2022 under <a href="https://creativecommons.org/licenses/by/3.0/us/">CC-BY</a>
            </div>
        </div>

        {% include scripts.html %}

    </body>

</html>
