---
layout: default
---

<main class="post">
    <div class="post">
        {% if page.redirect %}
            <article>
                Please click <a href="{{ page.redirect }}">here</a> if you are not redirected.
            </article>
        {% else %}
            <header>
                <h1 id="post">{{ page.title }}</h1>
            </header>
            <article>
                {{ content }}
            </article>
            <footer>
                {% if page.author %}
                    Published {{ page.date | date: "%-d %B %Y" }} by {{ page.author }}
                {% endif %}
            </footer>
        {% endif %}
    </div>
</main>
