---
layout: default
---

<header>
    <span class="post-name">
        {% if page.displaytitle %}
            {{ page.displaytitle }}
        {% else %}
            {{ page.title }}
        {% endif %}
    </span>

    <span class="post-tags">
    {% assign post_keywords = post.keywords | split: " " %}
    {% for keyword in post_keywords%}
        <span class="post-tag">{{ keyword }}</span>
    {% endfor %}
    <span>

    {% if page.date and page.showdate %}
        <span class="post-date">
            <span class="nowrap">{{ page.date | date: "%F" }}</span>
        </span>
    {% endif %}
</header>
<article>
    {{ content }}
</article>
