---
layout: default
---

<header>
    <span class="post-name">
        {% if page.displaytitle %}
            {{ page.displaytitle }}
        {% else %}
            {{ page.title }}
        {% endif %}
    </span>

    <span class="post-tags">
       {% for tag in page.tags %}
            <a ontouchstart="goToTag('{{ tag }}'); return false;" onclick="goToTag('{{ tag }}');">
                <i class="post-tag post-tag-{{tag}}"></i>
            </a>
        {% endfor %}
    <span>

    {% if page.date and page.showdate %}
        <span class="post-date">
            <span class="nowrap">{{ page.date | date: "%F" }}</span>
        </span>
    {% endif %}
</header>
<article>
    {{ content }}
</article>
